.content {
    margin-top: 3rem;
}

.app-bg-gray {
    background-color: #2d3748;
}

.app-bg-dark {
    background-color: #1a202c;
}

.navbar {
    border-bottom: 1px solid #777777;
}

.page-content {
    padding-top: 5rem;

    color: white;
}

.registration-login-form {
    width: 40%;
}

.btn-submit-registration-login {
    width: 100%;

    margin-top: 2rem;
}

label {
    color: white;
}
