.header-panel {
    height: 4rem;
    width: 100%;
    border-bottom: 1px solid #777;
    color: white;
}

.logo {
    height: 4rem;

    margin-top: 0.25rem;
    margin-left: 2rem;
}

.btn {
    width: 7.5rem;
    margin-right: 2rem;
}

.btn-my-voting {
    width: 10rem;
}

.app-name{
    margin-right: auto;
    margin-left: 2rem;
    font-size: 3rem;
}
